.callSummaryVideo {
  margin-top: "-19px";
  margin-left: "250px";
  width: "9px";
  width: "13px";
  height: "26px";
  background: transparent url("../assets/img/forwardArrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
