.forwardArrow {
  margin-top: 1px;
  margin-left: 260px;
  width: 9px;
  width: 13px;
  height: 26px;
  background: transparent url("../img/forwardArrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.forwardArrowtwom {
  margin-top: 1px;
  margin-left: 160px;
  width: 9px;
  width: 13px;
  height: 26px;
  background: transparent url("../img/forwardArrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
